# https://numato.com/docs/mimas-ecp5-mini-fpga-development-board/

LOCATE COMP "rst" SITE "A4";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "led0" SITE "E12";
IOBUF PORT "led0" IO_TYPE=LVCMOS33;

LOCATE COMP "led1" SITE "D13";
IOBUF PORT "led1" IO_TYPE=LVCMOS33;

LOCATE COMP "led2" SITE "D12";
IOBUF PORT "led2" IO_TYPE=LVCMOS33;

LOCATE COMP "led3" SITE "C13";
IOBUF PORT "led3" IO_TYPE=LVCMOS33;

LOCATE COMP "btn0" SITE "A8";
IOBUF PORT "btn0" IO_TYPE=LVCMOS33;

LOCATE COMP "btn1" SITE "A7";
IOBUF PORT "btn1" IO_TYPE=LVCMOS33;

LOCATE COMP "TCK" SITE "E6";
IOBUF PORT "TCK" IO_TYPE=LVCMOS33;

LOCATE COMP "TDI" SITE "D6";
IOBUF PORT "TDI" IO_TYPE=LVCMOS33;

LOCATE COMP "TDO" SITE "A5";
IOBUF PORT "TDO" IO_TYPE=LVCMOS33;

LOCATE COMP "TMS" SITE "A6";
IOBUF PORT "TMS" IO_TYPE=LVCMOS33;

LOCATE COMP "LED_R" SITE "T6";
IOBUF PORT "LED_R" IO_TYPE=LVCMOS33;

LOCATE COMP "LED_G" SITE "R6";
IOBUF PORT "LED_G" IO_TYPE=LVCMOS33;

LOCATE COMP "LED_B" SITE "R7";
IOBUF PORT "LED_B" IO_TYPE=LVCMOS33;

